.container {
  padding: 100px;
  color: white;
  list-style: none;
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: center;
  /* align-content: center; */
  font-family: Arial, Helvetica, sans-serif;
}

.profilePicture {
  height: 75px;
  width: 75px;
}

.dashNavbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  height: 420px;
  margin-right: 20px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .dashNavbar {
    /* width: 100%; */
    margin-bottom: 50px;
    min-width: 500px;
  }

  .orderDetails {
    /* width: 100%; */
    margin-bottom: 50px;
    min-width: 500px;
  }

  .accountSettingsMain {
    width: 100%;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    padding: 10px;
  }

  .label {
    padding-left: 0;
  }
}
.navHeader {
  display: flex;
  align-items: center;
  padding: 8px;
}

.navUserName {
  margin: 8px;
}

.editProfile {
  padding: 15px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  border-left: 5px solid transparent;
  cursor: pointer;
  margin: 5px 0;
}

.selectedTab {
  padding: 15px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  border-left: 5px solid rgba(239, 190, 68, 0.7);
  margin: 5px 0;
}

.imageDiv {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  /* height: 150px; */
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 15px;
  /* width: 100%; */
}

.userInfo input {
  height: 30px;
  /* width: 300px; */
  margin-left: 15px;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.imageText {
  display: flex;
  flex-direction: column;
  color: #0095f6;
}

.profilePicture {
  border-radius: 50%;
}

.userInfoList {
  display: flex;
  flex-direction: column;
}

/* .userInfo {
  display: flex;
  justify-content: center;
} */

.info {
  border: 1px solid #aeaeae;
  padding: 10px;
  /* width: 50%; */
  /* margin: 8px 20px; */
}

.order {
  border: 1px solid #aeaeae;
  height: 100px;
  padding: 10px;
  min-width: 500px;
  width: 100%;
  border-radius: 5px;
  /* margin: 8px 20px; */
}

.purchased {
  font-size: 12px;
  margin-top: 3px;
}

.orderTop {
  display: flex;
  justify-content: space-between;
}

.orderDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yourOrders,
.accountDetails {
  margin: 0 0 20px 20px;
  color: rgba(239, 190, 68, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #999;
  line-height: 40px;
}

.accountSettingsMain {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  /* margin-left: 250px; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 500px; */
  width: 50%;
}

.accountOrdersMain {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  /* width: 500px; */
  width: 50%;
}

.orderNumber {
  font-size: 12px;
  color: rgba(239, 190, 68, 0.7);
}

.price {
  color: rgba(239, 190, 68, 0.7);
}
