.dashboardContainer {
  margin: 0 52px 0 104px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebarLogo {
  position: absolute;
  height: 100px;
  width: 150px;
  background-color: transparent;
  opacity: 0.2;
  border-radius: 10px;
  padding: 10px;
  margin-left: 80px;
}

.cityscape {
  position: relative;
  opacity: 0.7;
  width: 100%;
  max-height: 600px;
  top: 0;
  left: 0;
  z-index: -1;
}

.aboutUsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 50px 20px 30px;
}

.headerText {
  color: rgba(239, 190, 68, 0.8);
  font-style: italic;
  margin: 50px;
}

.text {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 50px;
  line-height: 200%;
}

.centralPark {
  height: 300px;
  width: 50%;
  margin: 50px 0 50px 0;
}

.footer {
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-between;
  margin: 50px 60px 0 60px;
}

.footerLogo {
  height: 50px;
  width: 110px;
}

.brandDiv {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0 10px 50px;
  margin: 30px;
}

.company,
.account {
  display: flex;
  flex-direction: column;
  margin: 30px 0 15px 0;
  color: rgba(255, 255, 255, 0.7);
}

.logIn,
.signUp,
.footerAboutUs,
.brandName {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.slider {
  position: relative;
  height: 300px;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  cursor: all-scroll;
}

.slider.animation {
  transition: transform 750ms ease-in-out;
}

.aboutUs {
  margin-bottom: 10px;
}

.company {
  gap: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-style: none;
  font-size: 12px;
  gap: 10px;
}

.links::hover {
  background-color: #999;
}

.logInButton,
.signUpButton {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin-top: 7px;
}

.accountButton {
  text-decoration: none;
  font-style: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7px;
  width: 100px;
}

.accountTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .parallax {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.slider {
  position: relative;
  height: 500px;
  transform: translate3d(0,0,0);
  will-change: transform;
  cursor: all-scroll;
}

.slider.animation */
