/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  backdrop-filter: blur(3px);
}

#modal-content {
  position: absolute;
  background-color: white;
  /* padding-top: 50px;
  height: 400px; */
  z-index: 99;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  /* -webkit-backdrop-filter: blur(7.3px); */
  border: 1px solid rgba(255, 255, 255, 0.22);
}
